<%include('../layouts/header.ejs')%>

<h1>Verification</h1>

<% if(typeof message!=='undefined'){ %>
<h4><%=message%></h4>
<% } %>

<form action="" method="post">
  <input type="text" name="email" placeholder="Enter email" required />
  <br /><br />
  <input type="submit" value="send Verification Link" />
</form>

<%include('../layouts/footer.ejs')%>
